aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio==4.12.0
attrs==25.4.0
cachetools==6.2.4
certifi==2025.11.12
charset-normalizer==3.4.4
dataclasses-json==0.6.7
distro==1.9.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1765846453579/work
filetype==1.2.0
frozenlist==1.8.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1764784748144/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1762946837834/work
google-auth==2.45.0
google-genai==1.56.0
greenlet==3.3.0
groq==0.37.1
grpcio==1.76.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==3.11
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jsonpatch==1.33
jsonpointer==3.0.0
langchain==1.2.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.2.3
langchain-google-genai==4.1.2
langchain-groq==1.1.1
langchain-text-splitters==1.1.0
langgraph==1.0.5
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.3.1
langsmith==0.5.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055299832/work
marshmallow==3.26.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.7.0
mypy_extensions==1.1.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225620241/work/dist/numpy-1.26.4-cp311-cp311-macosx_10_9_x86_64.whl#sha256=0c694e57489122e5217f1154a05d3d7dd11011371f482a0bcd7692bad5da2ca0
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1763124448230/work
orjson==3.11.5
ormsgpack==1.12.1
packaging==25.0
pandas==2.3.3
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1764330318/work
portalocker==3.2.0
propcache==0.4.1
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1764434463/work
pydantic-settings==2.12.0
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1762989053/work
PyMuPDF==1.26.7
python-dateutil==2.9.0.post0
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1761503229/work
pytz==2025.2
PyYAML==6.0.3
qdrant-client==1.16.2
rank-bm25==0.2.2
requests==2.32.5
requests-toolbelt==1.0.0
rsa==4.9.1
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.45
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tenacity==9.1.2
torch @ file:///Users/runnerx/miniforge3/conda-bld/libtorch_1764704993338/work
torchaudio @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchaudio_1765707536/work
torchcodec @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchcodec_1764335944/work
torchvision @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision_1764233378/work
torchvision-extra-decoders @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision-extra-decoders_1764215727/work
typing-inspect==0.9.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.3
urllib3==2.6.2
uuid_utils==0.12.0
websockets==15.0.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
